h1 {
  color: lightseagreen;
  text-align: center;
  font-family: fantasy;
}
body {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.logo {
  width: 50%;
  height: 50%;
}
.drum-container {
  display: flex;
  justify-content: center;
}
p {
  background-color: red;
  padding: 10px;
  margin-left: 10px;
  font-family: Garamond;
}
